<nav data-script="helpers/nav">
    <div class="container">
        <a href="/{{_lang}}/">{{i18n "home"}}</a>
        <a href="/{{_lang}}/account" class="auth">{{i18n "account"}}</a>
        <a href="#modal-login" class="unauth">{{i18n "login"}}</a>
        <a href="#!" class="auth" data-script="helpers/logout">{{i18n "logout"}}</a>
    </div>
</nav>
