{{>precontent}}
{{>nav}}
<div class="container unauth">
    <h1>{{i18n "unauthorized-header"}}</h1>
    {{i18n "unauthorized-body"}}
</div>
<div class="auth">
    <div class="container" data-bind="api.user.me.options.admin" data-equals="!1">
        <h1>{{i18n "unauthorized-admin-header"}}</h1>
        {{i18n "unauthorized-admin-body"}}
    </div>
    <div data-bind="api.user.me.options.admin" data-equals="1">
        <div class="container">
           <div class="input-select">
               <select id="admin-subject" data-bind="api.admin.views" data-bind-source="input.admin.view" data-script="helpers/input-has-content">
                   <option value="{name}" data-text="admin-view-{name}"></option>
               </select>
               <i class="bar"></i>
               <label for="admin-subject">{{i18n "label-admin-view"}}</label>
           </div>
        </div>
      
        <div class="container" data-bind="input.admin.view" data-equals="user">
            USER
        </div>

        <div class="container" data-bind="input.admin.view" data-equals="user-option">
            USER OPTIONS
        </div>
    </div>
</div>
{{>postcontent}}
