{{>precontent}}
{{>nav}}
<div class="container unauth">
    <h1>{{i18n "unauthorized-header"}}</h1>
    {{i18n "unauthorized-body"}}
</div>
<div class="auth">
    <div class="container" data-bind="api.user.me.options.admin" data-equals="!1">
        <h1>{{i18n "unauthorized-admin-header"}}</h1>
        {{i18n "unauthorized-admin-body"}}
    </div>
    <div data-bind="api.user.me.options.admin" data-equals="1">
        <div class="container">
            <div class="form-group">
                <select id="admin-subject" class="padded" data-bind-source="input.admin.view" data-script="helpers/input-has-content">
                    <option value="main">Main</option>
                    <option value="collections">Data types</option>
                </select>
                <i class="bar"></i>
                <label for="admin-subject">{{i18n "label-admin-subject"}}</label>
            </div>
        </div>
        <div class="container" data-bind="input.admin.view" data-equals="main">
            VIEW MAIN
        </div>
        <div class="container" data-bind="input.admin.view" data-equals="collections">
            <div class="form-group">
                <select id="admin-collection" class="padded" data-bind="api.admin.collections" data-bind-source="input.admin.collection" data-script="helpers/input-has-content">
                    <option value="{name}">{name}</option>
                </select>
                <i class="bar"></i>
                <label for="admin-collection">{{i18n "label-admin-subject"}}</label>
            </div>
        </div>
    </div>
</div>
{{>postcontent}}
